@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
  font-family: 'Pokemon Solid';
  src: url('http://www.cufonfonts.com') format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'Pokemon Solid', comic, sans-serif;
  font-weight: 200;
}

body {
  background-image: url(./images/pokemonpattern.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.nav-logo > a > img {
  width: 5em;
  margin-bottom: 0.5em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(253, 223, 223, 0.5);
}

.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 6em;
  margin-top: 0.5em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  list-style: none;
}

.links > li {
  margin-left: 20px;
  margin-right: 20px;
}

.links a {
  text-decoration: none;
  color: red;
  font-size: 1.8rem;
  padding-left: 3em;
  font-weight: 100;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em auto;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn {
  background-color: #eee;
  border-radius: 16px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.like-btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}

#count {
  color: #fff;
  font-size: 1.2em;
}

#prev,
#next {
  padding: 0.4em 0.6em;
  background: #c0e4c0;
  border-radius: 0.8em;
  box-shadow: 0.2em 0.2em #5f925f;
}

.footer {
  width: 100%;
  background-color: rgb(253, 223, 223, 0.6);
  height: 4em;
  margin-top: 2em;
  font-size: 1.3rem;
  color: red;
  padding-top: 1.2em;
  font-weight: 100;
}

/* New UI */

.pokedex {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  flex: 0 0 auto;
  width: 100%;
}

.pokebox {
  background-color: rgb(251, 34, 103);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  padding: 20px;
  margin: 20px;
  border: 5px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  -webkit-background-clip: border-box;
}

.pokehead {
  display: flex;
  border-bottom: 5px solid #212529;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}

.blue-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 5px solid #000;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-color: blue;
}

.red-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 5px solid #000;
  margin-right: 0.5rem;
  background-color: red;
}

.yellow-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 5px solid #000;
  margin-right: 0.5rem;
  background-color: yellow;
}

.green-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 5px solid #000;
  margin-right: 0.5rem;
  background-color: green;
}

.pokebody {
  justify-content: center !important;
  display: flex !important;
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.poke-gray {
  width: 250px;
  height: 260px;
  background-color: #e0e0e0;
  border-radius: 0 0 0 40px;
  border: 5px solid #000;
}

.circle-container {
  justify-content: center !important;
  display: flex !important;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 5px solid #000;
  background-color: red;
  margin: 2.5px;
}

.poke-container {
  display: flex;
  justify-content: center !important;
}

.image-container {
  width: 180px;
  height: 180px;

  /* background-color: #7ecc98; */
  background-color: transparent;
  border-radius: 0;
  border: 5px solid #000;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
}

.image-container > img {
  width: 200px;
  height: auto;
}

.box-buttons {
  display: flex !important;
  justify-content: space-between !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.circle2 {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 5px solid #000;
  background-color: red;
  margin: 0.25rem !important;
}

.box-buttons > img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.pokein {
  display: flex !important;
  justify-content: space-between !important;
}

.pokename {
  font-family: VT323, arial, helvetica, sans-serif;
  font-size: 45px;
  height: 60px;
  width: 210px;
  background-color: #00cc5c;
  border: solid 5px #000;
  padding-left: 1rem;
  align-items: center !important;
  display: flex !important;
}

.heartbtn {
  cursor: pointer;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  border: 5px solid #000;
  background-color: #424242;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fa-heart {
  color: #f44336;
  font-size: 35px;
}

.pokein2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.id {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 1rem;
  background-color: rgb(0, 170, 247);
  border-radius: 0 40px 0 0;
  border: 5px solid #000;
}

#countBox {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  background-color: rgb(249, 238, 96);
  border-radius: 0 0 0 40px;
  border: 5px solid #000;
}

.commentBtn {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  border: 5px solid #000;
  background-color: #424242;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}
