@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/images/pokemonpattern.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.nav-logo > a > img {
  width: 75px;
  height: auto;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.nav-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 5%;
  margin-top: 25px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.links > li {
  margin-left: 20px;
  margin-right: 20px;
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn {
  background-color: #eee;
  border-radius: 16px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 5px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.like-btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.fa-heart {
  color: #f00;
  font-size: larger;
}

#count {
  color: #fff;
  font-size: 1.2em;
}

#prev,
#next {
  padding: 0.4em 0.6em;
  background: #c0e4c0;
  border-radius: 0.8em;
  box-shadow: 0.2em 0.2em #5f925f;
}
